
body{
    margin:0px;
    padding:0px;
    min-height:100%;
    text-align:center;
    font-family: "Roboto",arial;
}
.header-container{
    display:flex;
    background-color:#1F2937;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.header-w{
    width:85%;
}
.header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 32px;
    gap:2rem;
    margin-bottom:2.5%;
}
.logo {
    width:150px;
    height:150px;
    padding-left: 64px;
}
.links {
    display:flex;
    justify-content:center;
    gap:16px;
    padding-right:0px;
}
ul.links {
    font-size:18px;
    color:#E5E7EB;
    list-style-type: none;
    padding:16px;
    margin:0px;
    gap: 16px;
    padding-right:64px;
}
a {
    text-decoration:none;
    color:white;
}
.container {
    display:flex;
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: nowrap;
    margin-bottom:5%;
}
.container-left{
    flex:1 1 auto;
    max-width:400px;
    text-align:left;
    
   
}
.container-head {
    font-size:48px;
    font-weight:extra-bold;
    color: #F9FAF8;
    margin-bottom: 20px;

}
.container-subtext {
    font-size:18px;
    color:#E5E7EB;
}
.container-button {
    display:block;
    text-align:center;
    font-size: 16px;
    font-weight:600;
    color:#E5E7EB;
    background-color: rgb(25, 25, 85);
    margin-top: 8px;
    width:125px;
    padding-block:7px;
    border-radius:7px;
    border:none;
    
}
.container-button:hover{
    background-image:none;
    background-color:rgb(10, 10, 31);
}
.pic {
    width:350px;
    height:350px;
    padding: 25px;
    margin: 25px;
    border-radius:50px;
}
#container-2 {
    display:flex;
    background-color:white;
    justify-content:center;
    align-items:center;
    gap:1rem;
    flex-direction:column;
    margin-top: 2%;
    margin-bottom: 5%;
}
ul.dev-image{
    display:flex;
    list-style-type: none;
    gap:3rem;
    padding:0px;
    border:0px;

}
.heading-2 {
    align-self:center;
    font-size:36px;
    font-weight: extra-bold;
    color: #1F2937;
}
.pic1 {
    height: 190px;
    width: 190px;
    border-radius: 10px;
    object-fit: cover;
    border: 6px solid #1F2937;
}
.text {
    margin-top:5%;
    font-weight:600;
    
}
span {
    max-width:200px;
    
}
#quote{
    display:flex;
    padding:50px 200px;
    background-color:#E5E7EB;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.quote-text{
    font-size:24px;
    font-style: italic;


}
.author{
    padding-top:5%;
    padding-right:1%;
    text-align:end;
    font-weight: 600;
    color:#3882F6;
}
.quote-text,.author{
    width:70%;
}
#sign-up{
    margin:8%;
    padding:25px 80px;
    display:flex;
    align-items:center;
    background-color:#3882F6;
    border-radius:10px;
    flex-flow:row wrap;
    color:white;
    gap:32px;

}
.sign-text{
    text-align:left;
}
b{
    font-size:24px;
}

.call{

}
button{
    flex:1;
    width:100px;
    height:50px;
    background-color:#1758c0;
    border:none;
    border-color:white;
    border-radius:8px;
    font-size: 16px;
    font-weight:600;
    padding-block:7px;
    color:white;
}
button:hover{
    background-image:none;
    background-color:#1F2937;
}
.footer {
    padding:2%;
    background-color:#1F2937;
    color:white;
    
}